<!DOCTYPE html>
<html>
    <head>
        <title>Buster's Best Bowling Alley</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>It's happy fun time with sinatra!</p>
    </body>
</html>
